.btn-outline-inverse {
color: #fff;
background-color: transparent;
border-color: #cdbfe3;
}

@media (min-width: 768px) {
  .btn-outline-inverse {
    width: auto;
  }
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.footer {
  margin-top: -60px;
  height: 60px;
  background-color: #eee;
}

.container {
  min-height: 100%;
}

.container > .main.row {
  padding-bottom: 60px;
  overflow: hidden;
}

.avatar.middle {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://i0.wp.com/developer.files.wordpress.com/2013/01/60b40db1e3946a29262eda6c78f33123.jpg?w=64)
}

.post-new.btn {
  margin-top: 8px;
  padding: 6px 12px;
}

form#new .select2 {
  width: 100% !important;
}

.cat img {
  width: 100%;
}

.footer .container {
  margin-left: auto;
  margin-right: auto;
}

.footer ul.friend-links {
  padding-top: 20px;
  font-size: 16px;
}

.footer li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.datetime {
  color: #999;
}
