.profile .avatar img {
  width: 160px;
  height: 160px;
}

.profile .align-left, .profile .align-right {
  display: inline-block;
  vertical-align: top;
}

.profile .panel-body .content-el {
  font-size: 18px;
  margin-bottom: 4px;
}

.profile .align-left {
  width: 180px;
}

.profile .align-right {
  width: 400px;
}

.panel.profile h1.panel-body {
  padding-top: 0;
  padding-bottom: 0;
}

.user-content .tab-content {
  border: solid 1px #dddddd;
  border-top: none;
}

.user-content .tab-content .item-list {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile .fa {
  margin-right: 10px;
}

.user-content .item .sigh-footer {
  font-size: 14px;
}

.user-content .item-list>.item {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.user-content .item-list>.item:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.user-content .item .content {
  font-size: 16px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.user-content .item .comment {
  font-size: 16px;
}

.user-content .item .comment .comment-context {
  color: #ccc;
  font-size: 14px;
}

.tab-pane .item {
  position: relative;
}

.tab-pane .item .avatar {
  position: absolute;
  right: 0;
  top: 0;
}
