div, p, span, a {
  font-size: 16px;
}

.comment-group .comment {
  width: 100%;
}

.avatar-container .avatar {
  width: 100%;
  height: 100%;
}

.avatar-container {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.content-container {
  position: absolute;
  padding-left: 100px;
  right: 0;
  top: 0;
  width: 100%;
}

.sigh-container {
  margin-bottom: 10px;
  position: relative;
}

.sigh {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-form {
  position: relative;
  height: 130px;
}

.comment-form textarea{
  margin-bottom: 10px;
}

.comment-form .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.comment-form form.comment {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 50px;
}

.comment-group {
  margin-bottom: 10px;
}

.list .list-item {
  position: relative;
}

.list-item .list-left {
  position: absolute;
  left 0;
  top: 0;
}

.list-item .avatar {
  height: 40px;
  width: 40px;
}

.list-item .list-right {
  margin-left: 50px;
}

.comment.has-error textarea {
  border-color: #f00 !important;
}