{% extends "_base.jade" %}

{% block style %}
link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/index.css'))
{% endblock %}

{% block main %}
{% for sigh in sighs %}
.sigh
  p {{ sigh.content or 'Empty!' }}
  div
    a.btn(href="", role="button", data-toggle="modal", data-target="#comment") Comment »
    #comment.modal.fade(role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
            h4.modal-title
              | Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") Save changes

  span.label.label-default Label

hr
{% endfor %}

ul.pagination
  li
    a(href="#") Prev
  li
    a(href="#") 1
  li
    a(href="#") 2
  li
    a(href="#") 3
  li
    a(href="#") Next

{% endblock %}

