{% extends "_base.jade" %}

{% block style %}
link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/sigh.css'))
{% endblock %}

{% block main %}
.sigh
  p {{ sigh.content or 'Empty!' }}

  {% if sigh.tags %}
  .tags
    {% for tag in sigh.tags %}
    span.label.label-default {{ tag.display_name }}
    {% endfor %}
  {% endif %}
hr

.comment-group
  {% for comment in comments %}
  .comment
    p {{ comment.content }}
  {% endfor %}
  .comment
    form.navbar-form.navbar-left.comment(role="form", method="POST", action=url_for('frontend.post_comment', sigh_id=sigh.id_))
      textarea.form-control.comment(rows="3", name="content")
      button.btn.btn-default(type="submit") Comment

{% endblock %}

{% block script %}
script(src=url_for('static', filename='js/sigh.js'))
{% endblock %}