{% extends "_base.jade" %}

{% block style %}
link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/arrow.css'))
link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/tags.css'))
{% endblock %}

{% block main %}
.tags
  {% for tag in tags %}
  span.tag.btn.btn-primary.btn-arrow-right
    a.tag-name(href=url_for('front.get_sighs_by_tag', tag_id=tag.id_)) {{ tag.display_name }}
    span.tag-count {{ tag.sighs_count }}
  {% endfor %}
{% endblock %}

{% block script %}
script(src=url_for('static', filename='js/tagCloud.js'))
{% endblock %}

